In [23]:
import pandas as pd
df = pd.read_excel("LCA AR confirm.xlsx",encoding = "ISO-8859-1",skiprows=1)
print(df.head())

   Invoice             Inv. Date             Due Date  Cur    Inv Amnt - HC   \
0
1  DAR 54000363     0   07/19/19  2019-07-19 00:00:00  CAD           1863.86
2  DAR 54000365     0   07/19/19  2019-07-19 00:00:00  CAD          -1863.86
3  DAR 54000385     0   09/23/19  2019-09-23 00:00:00  CAD            127.05
4  DAR 54000386     0   09/23/19  2019-09-23 00:00:00  CAD           -127.05

    Amnt Rcvd - HC    Balance in HC    \
0
1                             1863.86
2                            -1863.86
3                              127.05
4                             -127.05

                                        Open Amount in HC  Between  \
0                                       Current
1                                                  0
2                                                  0
3                                                  0
4                                                  0

         Unnamed: 8        Unnamed: 9       Unnamed: 10       Unnamed: 11  \
0   01 to 30 Days     31 to 60 Days     61 to 90 Days    91 to 120 Days
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0            127.05
4                 0                 0                 0           -127.05

    Unnamed: 12
0    > 120 Days
1       1863.86
2      -1863.86
3             0
4             0

In [24]:
df.sample(n=5, frac=None, replace=False, weights=None, random_state=None, axis=0)

,Invoice,Inv. Date,Due Date,Cur,Inv Amnt - HC,Amnt Rcvd - HC,Balance in HC,Open Amount in HC Between,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3941,TOTAL FOR CUSTOMER 580807 in HC CAD,2028.16,0,2028.16,0,2028.16,0,0,0,0,NaN,NaN,NaN
778,DAR 21110670 0,09/10/19,2019-10-10 00:00:00,CAD,2390.33,,2390.33,0,0,0,0,2390.33,0
1430,DAR 21116899 0,12/16/19,2020-01-30 00:00:00,CAD,722.07,,722.07,0,722.07,0,0,0,0
4136,DAR 21109636 0,08/23/19,2019-10-07 00:00:00,CAD,128.77,,128.77,0,0,0,0,0,128.77
2090,DAR 21116350 0,12/06/19,2020-02-04 00:00:00,CAD,453.6,,453.6,0,453.6,0,0,0,0

In [26]:
df.sample(n=5, frac=None, replace=False, weights=None, random_state=None, axis=0).to_excel('sampleoutput.xlsx',index=None)

In [ ]:
export_excel = df.to_excel (r'C:\Users\Leonardo\export_sampleselection.xlsx', index = None, header=True)

SyntaxError: invalid syntax (<ipython-input-27-222e3ddf7d50>, line 1)